mixin btn(i)
  -
    let idString = null
    let widthSize = ""
    let heightSize = ""
    let colour = ""
    let colourHover = ""
    let extraClasses = null

    if(i.extraClasses != null){extraClasses = i.extraClasses}
    
    if(i.btnID != null){idString =  i.btnID }
    
    if(i.widthSize != null)
      {widthSize = i.widthSize }
      else{widthSize = "180px"}
      
    if(i.heightSize != null)
      {heightSize = i.heightSize }
      else{heightSize = "50px"}
    
    if(i.colour != null)
      {colour = i.colour}
      else{colour = "zinc-500"}
    
    if(i.colourHover != null)
      {colourHover = i.colourHover}
      else{colourHover = "zinc-800"}
    
    
  button(class=extraClasses id=idString class=`flex w-[${widthSize}] h-[${heightSize}] items-center justify-center transition-all duration-200 hover:ml-1 text-${colour} hover:text-${colourHover} relative` icon-text=i.name)
    p( id=idString class=" flex px-2 text-lg ml-2 mr-4")
        i( id=idString class=`fa-solid fa-${i.icon}` icon-text=i.name)
    if i.name != "bars"
      p( id=idString class=`flex flex-1 items-center`)= i.name
    if i.name
      p(class="z-30 fixed left-[60px] px-3 py-1 rounded bg-zinc-100 transition-all duration-200" hover-btn="")= i.name   


mixin card(i)
  .card(class="min-w-[320px] h-[200px] flex grow flex-col flex-1 justify-end relative")
    img(class="w-full h-full object-cover")
    .card-text(class="absolute")
      p= i.title
      p= i.class
      p= i.desc